/* pages/snapUpDetail/snapUpDetail.wxss */
page{
	height: 100%;
}

clearfix::after {
  display: block;
  content: '';
  clear: both;
}
image {
  display: block;
  width: 100%;
  height: 100%;
}
/* 轮播图栏 */
/* .goods-img {
  width: 100%;
  height: 750rpx;
} */
swiper {
  height: 750rpx;
  width: 100%;
}

swiper image {
  height: 750rpx;
  width: 100%;
}
/* 商品视频 */
.swiper-con {
  position: relative;
}
.video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750rpx;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 10;
}

.video-container video {
  display: block;
  width: 100%;
}

.play-btn {
  position: absolute;
  left: 50%;
  bottom: 12%;
  padding: 2rpx;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 50rpx;
  color: #000;
  font-size: 24rpx;
  text-align: center;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

.play-icon {
  width: 50rpx;
  height: 50rpx;
}

.play-text {
  padding-right: 10rpx;
  margin: 0 10rpx;
}

.video-stop {
  padding: 2rpx 8rpx;
}

.display {
  display: none;
}
.sub {
  font-size: 26rpx;
}


/* 倒计时栏 */
.countdown-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #e43130;
  color: #fff;
  padding: 24rpx 12rpx;
  box-sizing: border-box;
}
.second-kill {
  font-size: 32rpx;
	margin-right: 20rpx;
}
.countdown-content {
  font-size: 28rpx;
  text-align: left;
}
.countdown-tips {
  font-size: 28rpx;
  margin-right: 10rpx;
}
.countdown-time {
  padding-top: 0rpx;
	font-size: 26rpx;
}



/* 商品信息 */
.goods-msg {
  position: relative;
  box-sizing: border-box;
  padding: 20rpx;
  border-bottom: 20rpx solid #f9f8f8;
}
.goods-title {
  font-size: 30rpx;
	word-break: break-word;
}
/* 价格 */
.goods-price {
  padding: 15rpx 0;
  border-bottom: 1px solid #f3f3f3;
}
.current-price {
  display: inline-block;
  color: #e43130;
  font-size: 34rpx;
  margin-right: 15rpx;
  vertical-align: middle;
  line-height: 1em;
}
.original {
  font-size: 23rpx;
  color: #888888;
  margin-top: 15rpx;
}
.original-price {
  display: inline-block;
  font-size: 28rpx;
  text-decoration: line-through;
  color: #999999;
  margin-left: 10rpx;
  vertical-align: middle;
}
/* 拼团价格 */
.condition {
  font-size: 23rpx;
  border: 1rpx solid #e60000;
  padding: 4rpx 10rpx;
  border-radius: 8rpx;
  vertical-align: middle;
}

/* 运费&库存 */
.other-infor {
  font-size: 23rpx;
  color: #aaa;
  padding-top: 15rpx;
  text-align: left;
}
.inventory {
  font-size: 26rpx;
  color: #777777;
}

/* 拼团详情 */
.spell-infor {
  border-bottom: 20rpx solid #f7f7f7;
  font-size: 28rpx;
  padding: 20rpx;
}
.spell-infor-title {
  font-size: 26rxp;
}
.spell-infor-content {
  position: relative;
  padding-top: 15rpx;
  padding-bottom: 15rpx;
  border-bottom: 1rpx solid #f2f2f2;
}
.head-img {
  display: inline-block;
  width: 80rpx;
  height: 80rpx;
  margin-right: 15rpx;
}
.spell-msg {
  display: inline-block;
  vertical-align: top;
  font-size: 24rpx;
}
.spell-text {
  padding-top: 10rpx;
  color: #aaa;
}
.red-font {
  color: red;
}
.join-group {
  position: absolute;
  right: 10rpx;
  bottom: 30rpx;
  color: red;
  border: 1rpx solid red;
  padding: 10rpx 15rpx;
  font-size: 24rpx;
}
.rules {
  position: relative;
  font-size: 25rpx;
  padding-top: 20rpx;
}
.rules-text02 {
  float: right;
  font-size: 23rpx;
  color: #aaa;
  padding-right: 30rpx;
}
.right-arrow {
  position: absolute;
  right: 5rpx;
  top: 20rpx;
  display: inline-block;
  width: 20rpx;
  height: 20rpx;
}

/* 预计开始时间 */
.expect-start {
  border-top: 1px solid #f2f2f2;
  margin-top: 15rpx;
  font-size: 23rpx;
  color: #999;
  padding-top: 15rpx;
}
.second-kill-icon {
  margin-right: 15rpx;
  color: #e60000;
  padding: 4rpx 8rpx;
  border: 1px solid #e60000;
  font-size: 20rpx;
}

/* 选择颜色 */
.choose-color {
  position: relative;
  padding: 20rpx;
  font-size: 30rpx;
  border-bottom: 20rpx solid #f9f8f8;
}
.more-icon {
  position: absolute;
  right: 20rpx;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20rpx;
  height: 20rpx;
}

.prod-detail {
	padding-bottom: 150rpx;
	background-color: #f4f4f4;
}

/* 店铺 */
.shop-box {
  position: relative;
  padding: 30rpx 20rpx;
  font-size: 28rpx;
  border-bottom: 1rpx solid #f2f2f2;
  margin-bottom: 90rpx;

}
.shop-icon {
  display: inline-block;
  width: 50rpx;
  height: 50rpx;
  margin-left: 20rpx;
  margin-right:30rpx;
  vertical-align: middle;
}
.shop-name {
  vertical-align: middle;
}

/* 评价 */
.estimate {
  border-top: 20rpx solid #f7f7f7;
  border-bottom: 20rpx solid #f7f7f7;
  font-size: 25rpx;
  padding: 25rpx 20rpx;
  text-align: left;
  margin-bottom: 150rpx;
}
.estimate-num {
  float: right;
  font-size: 23rpx;
  color: #999;
}

/* 底部按钮 */
.footer {
	position: fixed;
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #fff;
	padding: 18rpx 30rpx;
	box-sizing: border-box;
}
.foot-btn {
	font-size: 24rpx;
	color: #666;
	margin-right: 40rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foot-btn:last-child {
	margin: 0
}
.foot-btn > image {
	width: 60rpx;
	height: 60rpx;
}
.buy-btn {
	flex: 1;
	box-sizing: border-box;
	background-color: #E43130;
	color: #FFFFFF;
	border-radius: 60rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28rpx;
}
/* 零售价goumai */
.retail-price-buy {
  background: #ff8854;
}
/* 底部按钮end */





/* 弹框 */
/*模态框*/
.modals{
	position:fixed;
	z-index: 999;
	top:0;
	left: 0;
	right:0;
	bottom: 0;
}
.modals-cancel{
	position:absolute;
	z-index:190;
	top:0; left: 0;
	right:0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
}
.bottom-dialog-body {
	position:absolute;
	z-index:200;
	bottom:0;
	left:0;
	right:0;
	max-height:80%;
	background-color: #fff;
}
/*动画前初始位置*/
.bottom-pos{
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
}
/* 上部内容 */
.top-content {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  font-size: 26rpx;
  padding: 15rpx;
}
.top-content-img-box {
  display: inline-block;
  width: 150rpx;
  height: 150rpx;
  background: #f2f2f2;
  vertical-align: middle;
}
.top-content-img-box > image {
  width: 100%;
  height: 100%;
}
.goods-msg-box {
  display: inline-block;
  width: 68%;
  margin-left: 20rpx;
  vertical-align: middle;
}
.goods-names {
  line-height: 1.5em;
  color: #000;
  font-size: 28rpx;
  padding-right: 15rpx;
  display: -webkit-box;
  -webkit-line-clamp: 2; /*设定显示行数*/
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.group-tips {
  font-size: 20rpx;
  color: #e43130;
  padding: .3em 0;
  padding-top: 0;
}
.goods-prices {
  font-size: 30rpx;
  color: #e43130;
  margin-top: 5rpx;
}
.rmb-symbol {
  font-size: 34rpx;
}
.close-btn {
  position: absolute;
  display: block;
  right: 20rpx;
  top: 15rpx;
  width: 40rpx;
  height: 40rpx;
  /* background: url("../../static/icon/close.png");
  background-size: 100% 100%; */
  z-index: 250;
}
.close-btn > image {
  width: 100%;
  height: 100%;
}

/* 颜色选择 */
.choose-color-box {
  border-bottom: 1px solid #f2f2f2;
}
.choose-color-box .items {
  padding: 20rpx;
  font-size: 28rpx;
}
.color-txt {
  margin-bottom: 15rpx;
}
.color-box {
  display: block;
  box-sizing: border-box;
  padding: 8rpx 0;
}
.color-item {
  display: inline-block;
  padding: 0 16px;
  max-width: 270px;
  overflow: hidden;
  line-height: 2em;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  color: #333;
  background-color: #f7f7f7;
  font-size: 24rpx;
  border:1px solid #aaa;
  border-radius: 60rpx;
}
.color-item.gray{
  background-color: #f9f9f9;
  color: #ddd;
}
.color-item.dashed{
  border:1px dashed #ccc;
}
.color-item-current {
  background: #e43130;
  color: #fff;
  border:1px dashed #e43130 !important;
}



/* 数量选择 */
.quantity {
  padding: 1em;
  font-size: 28rpx;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 180rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-text {
  line-height: 1.5em;
}
.left-text-bottom {
  font-size: 25rpx;
  color: #666666;
}
.left-text-bottom-max-num{
   color: #f00;
}
/* choose-quantity */
.right-choose {
  margin-right: 10rpx;
	display: flex;
}
.subtract,
.show-num,
.add {
	display: flex;
	align-items: center;
	justify-content: center;
  background: #f5f5f5;
  color: #666;
  width: 60rpx;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
}
.show-num {
  width: 70rpx;
  margin: 0 10rpx;
}

/* 确认按钮 */
.confirm-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  /* height: 110rpx; */
  padding: 20rpx 6rpx;
  box-sizing: border-box;
  z-index: 6;
}
.confirm-btn .confirm {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 30rpx;
  flex-flow: column;
  border-radius: 60rpx;
  padding: 26rpx 0;
  margin: 0 6rpx;
  background: #e43130;
  color: #fff;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 10rpx;
}
.confirm-btn.gray .confirm {
  background-color: #f5f5f5;
  color: #aaa;
}
.sku-selectbox  {
	max-height: 275px;
	overflow-y: scroll;
}
/* 底部弹框end */


/* 直播按钮 */
.live {
  position: fixed;
  top: 600rpx;
  right: 30rpx;
}
.live .earn {
  width: 90rpx;
  height: 80rpx;
  border-radius: 14rpx;
}

