/* 积分明细 */

.integral-detail {
  position: relative;
}

.integral-detail .integral-msg {
 width: 100%;
  background-image: url(../../../static/images/proneler/topbj.png),linear-gradient(to right, #FA2033 0%,#FF6530 100%);
background-repeat: no-repeat;
background-position: 100% 100%;
background-size: 100% 100%;
overflow: hidden;
}
 
.topnav{
	padding: 20rpx 0rpx;
	display: flex;
	justify-content: space-between;
}
.integral-detail .integral-msg .my-integral {
  padding:  0rpx 0rpx 0; 
  color: #fff;
  
}
.integral-detail .integral-msg .my-integral .number-box {
	text-align: center; 
	margin-top: 20rpx;
}
.integral-detail .integral-msg .my-integral .number-box .text { 
    font-size: 48rpx;
	font-weight: blod;
}

.integral-detail .integral-msg .my-integral .number-box .number {
 
  font-family: arial;
  margin-top: 10rpx;
}

.integral-detail .integral-msg .my-integral .det {
margin: auto;
text-align: center;
margin-bottom: 30rpx;
width: 184rpx;
height: 60rpx;
border-radius: 50px;
font-size: 28rpx;
font-family: PingFang SC;
font-weight: 500;
line-height: 60rpx;
opacity: 1;

}


/* 列表 */
.integral-detail .detail-list {
	width: 90%;
	margin: auto;
	background-color: #FFFFFF;border-radius: 30rpx;
	margin-top: -50rpx;
    padding: 0 30rpx;
   
}
 
.empty {
  display: block;
  width: 100%;
  height: 200rpx;
  line-height: 200rpx;
  font-size: 28rpx;
  color: #888;
  text-align: center;
}

.integral-detail .detail-list .item {
  display: flex;
  padding: 30rpx 0;
  border-bottom: 1px solid #eee;
}

.integral-detail .detail-list .item:last-child {
  border: 0;
}

.integral-detail .detail-list .item .text-box {
  flex: 1;
  margin-right: 30rpx;
}

.integral-detail .detail-list .item .text-box .tit {
  font-size: 28rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.integral-detail .detail-list .item .text-box .time {
  font-size: 24rpx;
  color: #999;
  margin-top: 10rpx;
}

.integral-detail .detail-list .item .score {
  font-size: 36rpx;
  margin-top: 4rpx;
  font-family: arial;
}

.integral-detail .detail-list .item .score.add {
  color: #EF103C;
}

/* 积分明细 end */


/* 积分攻略弹框 */

.score-strategy {
  display: block;
  z-index: 999;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .4;
  z-index: 1;
}
.explain-card {
  position: fixed;
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  border-radius: 6rpx;
  padding: 20rpx;
  z-index: 2;
}
.content-wrap {
	height: 100%;
}
.close-box {
  display: block;
  text-align: right;
}
.close-icon {
	position: absolute;
	top: 20rpx;
	right: 20rpx;
  width: 36rpx;
  height: 36rpx;
}
.cont-title {
  display: block;
  font-size: 30rpx;
  font-weight: 600;
  text-align: center;
	margin-bottom: 20rpx;
}
.cont-det {
  display: block;
  font-size: 28rpx;
  color: #555;
	max-height: 92%;
	padding-bottom: 40rpx;
	box-sizing: border-box;
	overflow: scroll;
}

/* /积分攻略弹框 */



/* 加载完成 */
.loadall {
  margin: 30rpx 0;
  line-height: 2em;
  font-size: 28rpx;
  color: #aaa;
  text-align: center;
}
