/* pages/alterShopPassword/alterShopPassword.wxss */
/* 清除浮动 */
.clearfix::after {
  display: block;
  content: "";
  height: 0;
  visibility: auto;
  clear: both;
}
.set-accout-item {
  padding: 1em 30rpx;
  border-bottom: 1rpx solid #f2f2f2;
}
.item-tit {
  display: inline-block;
  font-size: 30rpx;
  margin-right: 40rpx;
}
.item-input {
  display: inline-block;
  font-size: 30rpx;
  vertical-align: middle;
  width: 70%;
}
.confirm {
  margin: 100rpx 30rpx;
  margin-bottom: 30rpx;
}
.confirm-btn {
  display: block;
  padding: 20rpx 0;
  background: #e43130;
  border-radius: 8rpx;
  font-size: 30rpx;
  color: #fff;
  text-align: center;
}
.tips-main{
  padding: 0 30rpx;
  font-size: 24rpx;
  color: #999;
}
.tips {
  line-height: 1.5em;
}
.userphone {
  display: inline-block;
  width: 75%;
}
.show-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 26rpx;
  color: #3e99d7;
}
.get-userphone-btn {
  float: right;
  font-size: 23rpx;
  vertical-align: middle;
  margin-right: 1em;
}